h1 {
  color: blue;
}

img {
  width: 100%;
}

.BlanchedAlmond {
  color: BlanchedAlmond;
}

.BurlyWood {
  color: BurlyWood;
}

.CadetBlue {
  color: CadetBlue;
}

.Chartreuse {
  color: Chartreuse;
}

.DarkGoldenRod {
  color: DarkGoldenRod;
}

.FireBrick {
  color: FireBrick;
}

.LavenderBlush {
  color: LavenderBlush;
}

.MediumAquamarine {
  color: MediumAquamarine;
}

.OliveDrab {
  color: OliveDrab;
}

.PeachPuff {
  color: PeachPuff;
}

.Peru {
  color: Peru;
}

.Thistle {
  color: Thistle;
}